body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #4f4f4f;
  line-height: 1.5;
  text-align: center;
  background-color: #EDEDED;
}

h1 {
  font-size: 1.75em;
  font-weight: 900;
  padding-top: 21.44px;
  margin-top: 0;
  margin-bottom: 25px;
}

h2 {
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  font-size: 1.2em;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4f4f4f;
  transition: all 0.3s;
}

figure {
  margin: 0;
  padding: 0;
}

/************************************************************
HEADER
*************************************************************/

/* ---- Navigation ---- */

header {
  background-color: #8c8c8c;
  padding: 0 5%;
  margin-bottom: 50px;
  color: #FAFAFA;
}

.main-nav li a {
  display: block;
  padding: 15px;
  margin-bottom: 7px;
  background-color: #EDEDED;
  text-transform: uppercase;
  font-weight: 900;
}

/* -- Profile Image -- */

.profile-image {
  display: block;
  width: 75%;
  margin: 50px auto 25px;
}

/* -- Intro/personal statement -- */

.personal-statement {
  padding-bottom: 40px;
}

/* Nav Hover states */

.main-nav li,
.main-nav a:hover {
  background-color: #999999;
  color: #FAFAFA;
}



/************************************************************
MAIN CONTENT
*************************************************************/

/* -- Main Wrapper -- */

main {
  margin: 0 5%;
  margin-bottom: 80px
}


/* -- Portfolio Title -- */

.portfolio-title {
  margin-bottom: 50px;
}

/* -- All images within main wrapper -- */

main img {
  margin-bottom: 5px;
}

/* -- All paragraphs within main wrapper -- */

main figcaption {
  margin-bottom: 40px;
  font-size: 0.981em;
  margin-right: 3%;
  margin-left: 3%;
}



/************************************************************
SKILLS SECTION
*************************************************************/

/* Aside Element Styling */

aside {
  background-color: #5abbd8;
  padding: 50px 0px;
  margin-bottom: 80px;
  color: white;
}

/* Div to control Both the Paragraph and Skill Bars as one - Margins and colors */

.wrapper {
  margin: 0px 5%;
}

.skills-title {
  margin-bottom: 50px;
}

.skills-title a {
  color: white;
}

.skill-points {
  margin: 50px 0;
}

/* White box containing yellow skill level bar */

.point-container {
  background-color: #f2f2f2;
  height: 20px;
  margin: 25px 0;
  border-radius: 10px;
}

/* Yellow Bar */

.point-bar {
  background-color: #FED36E;
  height: 20px;
  border-radius: 10px;
  position: relative;
}

/* Point Bar skills Percentages */

/* HTML */

.html {
  width: 70%;
}

/* CSS */

.css {
  width: 60%;
}

/* JavaScript */

.js {
  width: 30%;
}

/* Skill Level inidcator - Black box */

.skill-level-indicator {
  width: 45px;
  position: absolute;
  right: -10px;
  top: -23px
}

/* Skill Level inidcator - percentage within black box e.g. 70% */

.skill-percent {
  position: absolute;
  color: #FAFAFA;
  top: -34px;
  right: 0px;
  font-weight: 400;
  font-size: 0.75em;
}



/************************************************************
FOOTER
*************************************************************/


/* -- Footer Wrapper -- */

footer {
  background-color: #8c8c8c;
  color: #FAFAFA;
  padding: 50px 5% 70px; 
}

footer a {
  color: #FAFAFA;
}

footer a:hover {
  color: #4f4f4f;
}

/* -- Footer Paragraph -- */

.contact-p {
  margin-bottom: 30px;
  font-family: 'Indie Flower', sans-serif;
  font-size: 1.15em;
}

/* ------------------ CONTACT SECTION ----------------- */

/* -- Contact Title Bottom spacing -- */

.contact {
  padding-bottom: 17px;
}

/* -- Contact anchor styling -- */

.contact-info a {
  letter-spacing: 0.5px;
}

/* -- Contact list styling -- */

.contact-info li {
  margin-bottom: 15px;
}



/* -------------------- BOTTOM OF FOOTER ----------------- */

/* -- Rule Line and bottom margin-- */

.contact-info {
  padding-bottom: 50px;
  border-bottom: 1px solid #c7cdd1;
  margin-bottom: 10px;
}

/* -- student name and back to top styling -- */

.student-name,
.back-to-top {
  font-weight: 900;
  margin-bottom: 0;
  letter-spacing: 0.2px;
}

.student-name {
  font-size: 0.9em;
  float: left;
}

.back-to-top {
  font-size: 0.85em;
  float: right;
  text-transform: uppercase;
  margin-top: 14.4px;
}



/************************************************************
RESPONSIVE: SCREEN SIZE AND MEDIA QUERIES
*************************************************************/

/* ---- Hidden HTML ---- */

.footer-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  
  /* ----------- HEADER --------------- */
  
  header {
    padding: 0 3.5%;
  }
  
  h1 {
    padding-top: 58px
  }
  
  /* -- Navigation Menu -- */
  
  .main-nav li,
  .main-nav li a {
    display: inline;
  }
  
  .main-nav li a {
    background-color: #FAFAFA;
    font-size: 0.95em;
    padding: 8px 16px;
    }
  
  /* -- Profile Image -- */

  .profile-image {
    display: inline-block;
    width: 40%;
    margin-bottom: 50px;
  }
  
  /* -- Intro/personal statement -- */
  
  .personal-statement {
    display: inline-block;
    text-align: left;
    font-size: 1.2em;
    width: 59%;
    float: left;
    margin-top: 45px;
    margin-right: 7px;
  }

  /* ----------- MAIN CONTENT --------------- */
  
  main {
    margin: 0;
    margin-bottom: 40px;
  }
  
  /* Title for portfolio */
  
  .portfolio-title {
    font-size: 0.9em;
    margin-bottom: 46px;
  }
  
  /* main content images */
  
  main figure {
    display: inline-block;
    width: 45%;
    margin: 4px;
    vertical-align: top;
  }
  
  /* paragraph under main images */
  
  main figcaption {
    font-size: 0.85em;
    margin-right: 8%;
    margin-left: 8%;
  }

  /* ------------- SKILLS --------------- */
  
  /* Tighter margins for the paragraphs within the skills section */
  
  .skill-info p {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  /* ----------- FOOTER --------------- */
  
  footer {
    padding-bottom: 100px;
    padding-right: 3.5%;
    padding-left: 3.5%;
  }
  
  /* contact title */
  
  .contact {
    font-size: 0.85em;
  }
  
  /* contact paragraph styling */
  
  .contact-p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.2em;
  }
  
  /* larger font size for phone and email address */
  
  .contact-info {
    font-size: 1.2em;
  }
  
  /* -- BOTTOM OF FOOTER STYLING -- */
  
  .student-name,
  .back-to-top {
  }

  .student-name {
    font-size: 0.75em;
  }

  .back-to-top {
    display: none;
  }
  
  /* -- FOOTER NAVIGATION UNHIDE AND STYLING -- */
  
  /* Right float so footer menu stays to the right */
  
  .footer-nav {
    display: block;
    float: right;
    margin-top: 12px;
  }
  
  .footer-nav li,
  .footer-nav a {
    display: inline;
  }
  
  .footer-nav a {
    font-weight: 900;
    font-size: 0.7em;
    text-transform: uppercase;
    padding-left: 25px;
  }
  
}

@media screen and (min-width: 1024px) {
  
  /* ------------------------- HEADER ----------------------------- */

  header {
    padding: 0 5% 50px;
    margin-bottom: 58px;
  }

  h1,
  .main-nav li {
    display: inline-block;
  }

  ul {
    margin: 0;
  }

  h1 {
    font-size: 1.3em;
    padding: 45px 45px 45px 0px;
    float: left;
    margin: 0;
  }

  .main-nav {
    float: right;
    font-size: 0.9em;
    padding: 42px 0px 37px 37px;
  }
  
  .profile-image {
    float: right;
    clear: both;
    margin: 0;
    width: 35%;
  }

  .personal-statement {
    margin: 0;
  }

  /* ---------------------------------- MAIN CONTENT ------------------------ */

  .portfolio-title {
    font-size: 0.9em;
  }
  
  main figure {
    display: inline-block;
    width: 30%;
    margin: 8px;
    vertical-align: top;
  }
  
  main figcaption {
    font-size: 1em;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 45px;
  }

  
  
  /* ---------------------------------- SKILLS ----------------- */
  
  /* Styling to allow paragraph sit on the left */
  
  .skill-info {
    display: inline-block;
    width: 40%;
    text-align: left;
    vertical-align: top;
    margin-top: 11px;
    margin-right: 20px
  }
  
  /* Removal of smaller margins intended for between 768px and 1024px */
  
  .skill-info p {
    margin-left: 0;
    margin-right: 0;
  }
  
  /* New width and display type to make .skill-info paragraph and skill bar sit side by side */
  
  .skill-points {
    display: inline-block;
    width: 57%; 
    vertical-align: top;
    margin: -30px 0 0 0;
  }
  
  /* left text-align for skill bar headings e.g. HTML, CSS, JavaScript */
  
  .skill-points p {
    text-align: left;
  }
  
  

/* ---------------------------------- FOOTER ------------------------ */

  footer {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 55px;
  }

  /* Contact section heading font-size change to match mockup */
  
  .contact {
    font-size: 1em;
  }

  /* Tighter margins for larger screen */
  
  .contact-p {
    margin-left: 24%;
    margin-right: 24%;
  }

  /* -- Bottom of footer -- */
  
  .student-name {
    font-size: 0.9em;
  }
  
  .footer-nav a {
    font-size: 0.8em;
    text-transform: uppercase;
    padding-left: 25px;
  }

  /* -- Clearfix -- */

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
}