body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #515b61;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 1.75em;
  font-weight: 900;
  padding-top: 21.44px;
  margin-top: 0;
  margin-bottom: 25px;
}

h2 {
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  font-size: 1.2em;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #515b61;
}

/************************************************************
HEADER
*************************************************************/

/* ---- Navigation ---- */

header {
  background-color: #FAFAFA;
  padding: 0 5%;
  margin-bottom: 50px;
}

.main-nav li a {
  display: block;
  padding: 15px;
  margin-bottom: 7px;
  background-color: white;
  text-transform: uppercase;
  font-weight: 900;
}

/* -- Profile Image -- */

.profile-image {
  display: block;
  width: 75%;
  margin: 50px auto 25px;
}

/* -- Intro/personal statement -- */

.personal-statement {
  padding-bottom: 40px;
}



/************************************************************
MAIN CONTENT
*************************************************************/

/* -- Main Wrapper -- */

main {
  margin: 0 5%
}


/* -- Portfolio Title -- */

.portfolio-title {
  margin-bottom: 50px;
}

/* -- All images within main wrapper -- */

main img {
  margin-bottom: 5px;
}

/* -- All paragraphs within main wrapper -- */

main p {
  margin-bottom: 40px;
}



/************************************************************
FOOTER
*************************************************************/


/* -- Footer Wrapper -- */

footer {
  background-color: #FAFAFA;
  padding: 50px 5% 70px; 
}

/* -- Footer Paragraph -- */

footer p {
  margin-bottom: 30px;
}

/* ------------------ CONTACT SECTION ----------------- */

/* -- Contact Title -- */

.contact {
  padding-bottom: 17px;
}

/* -- Contact anchor styling -- */

.contact-info a {
  color: #74828b;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* -- Contact list styling -- */

.contact-info li {
  display: inline-block;
  margin-left: 7px;
/*  float: left;*/
}

/* -- Contact Phone and Email seperation -- */

.phone {
  margin-bottom: 15px;
}

/* -------------------- BOTTOM OF FOOTER ----------------- */

/* -- Rule Line -- */

.contact-info {
  padding-bottom: 50px;
  border-bottom: 1px solid #c7cdd1;
}

/* -- student name and back to top styling -- */

.student-name,
.back-to-top {
  font-weight: 900;
  margin-bottom: 0;
  letter-spacing: 0.2px;
}

.student-name {
  float: left;
}

.back-to-top {
  float: right;
  text-transform: uppercase;
}

/************************************************************
RESPONSIVE: SCREEN SIZE AND MEDIA QUERIES
*************************************************************/

@media screen and (min-width: 768px) {
  
  /* ----------- HEADER --------------- */
  
  /* -- Navigation Menu -- */
  
  .main-nav li,
  .main-nav li a {
    display: inline;
    background-color: #FAFAFA;
    padding: 10px;
  }
  
  /* -- Profile Image -- */

  .profile-image,
  .personal-statement {
    display: inline;
  }

  /* -- Intro/personal statement -- */

 
  
  
}
  
  